@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap");

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    word-wrap: break-word;
    text-decoration: none;
    font-family: "Blinker", sans-serif;
}

body {
    background-color: rgb(32, 32, 32);
}

.pageTitle {
    margin-top: 10px;
    color: #d8d8d8;
    background: #5B8B31;
    background: -moz-linear-gradient(left, #5B8B31 0%, #689F38 50%, #5B8B31 100%);
    background: -webkit-linear-gradient(left, #5B8B31 0%, #689F38 50%, #5B8B31 100%);
    background: linear-gradient(to right, #5B8B31 0%, #689F38 50%, #5B8B31 100%);
    width: 100%;
    text-align: center;
    padding: 10px 40px;
    letter-spacing: 2px;
    cursor: default;
}

.pagination {
    background-color: transparent;
    margin-bottom: 6rem;
    align-items: center;
    button {
        color: #d8d8d8;
        border: 1px solid #d8d8d81f;
    }
    button:hover {
        background-color: #fdd83533;
    }
}

.genresContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10vw;
    width: 80vw;
}