@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap");

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    background-color: rgb(32, 32, 32);
    word-wrap: break-word;
    text-decoration: none;
    font-family: "Blinker", sans-serif;
}