@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap");

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    word-wrap: break-word;
    text-decoration: none;
    font-family: "Blinker", sans-serif;
}

body {
    background-color: rgb(32, 32, 32);
}

.pageTitle {
    margin-top: 20px;
    color: #d8d8d8;
    width: 100%;
    text-align: center;
    padding: 10px 40px;
}

.pagination {
    background-color: transparent;
    margin-bottom: 6rem;
    align-items: center;
    button {
        color: #d8d8d8;
        border: 1px solid #d8d8d81f;
    }
    button:hover {
        background-color: #fdd83533;
    }
}